/* CUSTOM LOGIN STYLES */

body.login {
/*background-color: #021a2b;*/
/*background-image: url("university-complex.jpg");*/
background-size: auto 100%;
background-repeat: no-repeat;
background-position: center;
overflow-x: hidden;
}

body.login div#login h1 {}

body.login div#login h1 a {
/* background-image: none;    url('logo.png')*/
background-size: 300px 72px;
width: 300px;
height: 72px;
}

body.login div#login form#loginform {
  background: none repeat scroll 0 0 rgba(255, 255, 255, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  margin-left: 0;
  margin-top: 20px;
  overflow: hidden;
  padding: 25px 35px 40px 35px;
  border: 1px solid rgba(255, 255, 255, .2);
}



body.login div#login .message {
  background: none repeat scroll 0 0 rgba(255, 255, 255, .2);
  border-left: 4px solid #7ad03a;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  padding: 12px 30px;
}

body.login div#login #login_error {
  background: none repeat scroll 0 0 rgba(255, 255, 255, .2);
  border-left: 4px solid #7ad03a;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  padding: 12px 30px;
}

body.login div#login form#loginform p {}

body.login div#login form#loginform p label {
  color: #fff;
  line-height: 26px;
  text-shadow: 1px 1px 1px #333;
}

.login .button-primary {
width: 120px;
float:right;
background-color: #1880d5 !important;
background: -webkit-gradient(linear, left top, left bottom, from(#1880d5), to(#0c5284));
background: -webkit-linear-gradient(top, #1880d5, #0c5284);
background: -moz-linear-gradient(top, #1880d5, #0c5284);
background: -ms-linear-gradient(top, #1880d5, #0c5284);
background: -o-linear-gradient(top, #1880d5, #0c5284);
background-image: -ms-linear-gradient(top, #1880d5 0%, #0c5284 100%);
text-shadow: #333333 0 1px 0;
color: #b8b8b8;
}

.login .button-primary:hover {
background-color:#0c5284 !important;
background: -webkit-gradient(linear, left top, left bottom, from(#1880d5), to(#0c5284));
background: -webkit-linear-gradient(top, #1880d5, #0c5284);
background: -moz-linear-gradient(top, #1880d5, #0c5284);
background: -ms-linear-gradient(top, #1880d5, #0c5284);
background: -o-linear-gradient(top, #1880d5, #0c5284);
background-image: -ms-linear-gradient(top, #1880d5 0%, #0c5284 100%);
text-shadow: #333333 0 -1px 0;
color: #fff;
}

.login .button-primary:active {
background-color:#0c5284 !important;
background: -webkit-gradient(linear, left top, left bottom, from(#1880d5), to(#0c5284));
background: -webkit-linear-gradient(top, #1880d5, #0c5284);
background: -moz-linear-gradient(top, #1880d5, #0c5284);
background: -ms-linear-gradient(top, #1880d5, #0c5284);
background: -o-linear-gradient(top, #1880d5, #0c5284);
background-image: -ms-linear-gradient(top, #1880d5 0%, #0c5284 100%);
text-shadow: #333333 0 -1px 0;
color: #fff;
}

body.login div#login form#loginform input {
  background-color: rgba(255, 255, 255, 1) !important;
  background-color: #FFFFFF !important;
}

body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {}
body.login div#login p#nav { padding: 0;}
body.login div#login p#nav a {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
  border-left: 4px solid #0C63AA;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  margin-left: 0;
  padding: 12px 30px;
  line-height: 1.5;
  display: block;
}

body.login div#login p#backtoblog { padding: 0;}
body.login div#login p#backtoblog a {
  /*background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, .2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  display: block;
  font-weight: 400;
  height: auto;
  padding: 25px 35px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
  margin-top: 20px;
  overflow: hidden;*/
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
  border-left: 4px solid #3AC9D0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  margin-left: 0;
  padding: 12px 30px;
  line-height: 1.5;
  display: block;
}

/*  #MEDIA QUERIES
================================================== */

    /* Smaller than 767px */
    @media only screen and (min-width: 480px) and (max-width: 767px) {

      body.login{height: 115% !important; }
    	body.login div#login { position: relative; right: 0; }
    	body.login div#login #section-login-footer { position: absolute !important; bottom: -40px; }

    }

    /* #Mobile (Landscape) */
    @media only screen and (max-width: 479px) {
      body.login{height: 130% !important; }
      body.login div#login { position: relative; right: 0; }
      body.login div#login #section-login-footer { position: absolute !important; bottom: -40px; }

    }