hiddenStyle: { opacity: 0.25 }

.isotope-item {
  z-index: 2;
}	

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

hiddenStyle: $.browser.msie ? 
  { opacity: 0.5, left: -2000 } : // IE
  { opacity: 0, scale: 0.001 }