.menu, #header, #c1, #c3, .post-pages, .post-meta, .post-nav, #comments, .navigation, #footer {
	display: none;
}

body {
	font-size: 12pt;
}

a {
	color: #520;
	font-weight: bold;
	text-decoration: underline;
}

#wrap, #c2, .post {
	width: auto;
	margin: 0; padding: 0;
	float: none !important;
	overflow: visible;
	border: 0;
	background: none;
}

.print-view {
	display: block;
}
.sep {
	page-break-after: always;
}