/* background color */
body {
	background-color: #E4E7E7;
}

/* link colors */
a {
	color: #B91313;
}
a:hover {
	color: #E81E1E;
}

/* border color for menu and columns */
.menu, #c1, #c2, #c3, #secondary-menu {
	border-color: #C8DDDD;
}

/* background color for selected page in the menu - same color as above */
.menu li.current_page_item > a, .menu li.current_page_parent > a, .menu li:hover > a, .menu li ul li a { 
	background: #C8DDDD;
}

/* background color for widgets */
.widget, .comment-body, .sticky {
	background: #F2F4F4;
}

/* wiget titles */
.widget h2 {
	background: #DAE4E4;
	color: #7E7E7E;
}
