.vc_btn3.vc_btn3-color-green.vc_btn3-style-modern {
    border-color: #035642;
    background-color: #035642;
}

.vc_btn3.vc_btn3-color-green.vc_btn3-style-modern:hover {
    color: #f7f7f7;
    border-color: #035642;
    background-color:#035642;
}